<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/common.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/css/layout.css")" rel="stylesheet" type="text/css">
    <script type="text/JavaScript">
        function MM_jumpMenu(targ, selObj, restore) {
            eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value + "'");
            if (restore) selObj.selectedIndex = 0;
        }
</script>
</head>
<body leftmargin="0" topmargin="0" youdao="bind">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table width="990" border="0" cellpadding="0" cellspacing="0" bgcolor="#FCDDC1">
                        <tbody>
                            @Html.Action("Header", "Home")
                            @RenderBody()
                            @Html.Action("Footer", "Home")
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
