@{
    ViewBag.Title = "文章列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model   NPC.Application.ManageModels.NpcMmses.NpcMmsListModel
<div class="workgroundin">
    <ul class="head_content">
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("编辑新彩信", "newMmsBtn", "icon_3.gif", true))
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("批量删除", "batchDelBtn", "icon_4.gif", false))
    </ul>
</div>
<form action="" method="GET" id="searchForm">
<div class="main_search">
    <div class="mc_search">
        <div class="pic">
            <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
        <div class="font">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="s1">
            <select>
                <option>标题</option>
            </select></div>
        <div class="i1">
            @Html.TextBoxFor(o => o.NpcMmsSearchModel.NpcMmsQueryItem.Title)
        </div>
        @Html.Partial("_DivButton", new Tuple<string, string>("搜索", "searchBtn"))
    </div>
</div>
</form>
<div class="main_content">
    <div class="topline">
        <div class="span_1">
            <input type="checkbox" id="topChk" /></div>
        <div class="span_5">
            操作</div>
        <div class="span_3">
            标题</div>
        <div class="span_2">
            总帧数</div>
        <div class="span_2">
            创建时间</div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
    </div>
    <div class="row">
        @foreach (var row in Model.NpcMmses)
        {
            <div class="rowline">
                <div class="span_1">
                    <input type="checkbox" name="ids" value="@row.Id" /></div>
                <div class="span_5">
                    <a href="@Url.Action("EditNpcMmsSend", "NpcMmsSends")?npcMmsId=@row.Id">发送</a> |
                    <a href="@Url.Action("EditNpcMms", "NpcMmses")?id=@row.Id">编辑</a> | <a href="javascript:;" onclick="singleDel('@row.Id')">
                        删除</a></div>
                <div class="span_3">
                    @row.Title</div>
                <div class="span_2">
                    @row.NpcMmsContents.Count()
                </div>
                <div class="span_2">
                    @row.RecordDescription.DateOfCreate.ToString("yyyy-MM-dd")</div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
            </div> 
        }
        <div class="footBar">
            <div class="fb_content">
                <ul class="fb_button">
                    @Html.Partial("_LiButton", new Tuple<string, string>("全选", "chkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("取消", "unChkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("反选", "invertBtn"))
                </ul>
                <div class="fb_page">
                    <script type="text/javascript">
                        var pg = new showPages('pg');
                        pg.argName = 'p';  //定义参数名(可选,缺省为page)
                        pg.newPage = @Model.NpcMmsSearchModel.NpcMmsQueryItem.Pagination.PageIndex;
                        pg.count =  @Model.NpcMmsSearchModel.NpcMmsQueryItem.Pagination.TotalRecordsCount;
                        pg.pageCount = @Model.NpcMmsSearchModel.NpcMmsQueryItem.Pagination.TotalPage;
                        pg.printHtml(1);    //显示
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var urlOfDel = '@Url.Action("Delete", "NpcMmses")';
    function singleDel(id) {
        var delIds = [];
        delIds.push(id);
        controller.del(urlOfDel, delIds);
    }
    $("#chkAllBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 1);
    });
    $("#unChkAllBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 0);
    });
    $("#invertBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 2);
    });
    $("#topChk").click(function () {
        var result = $(this).attr("checked") ? 1 : 0;
        controller.batchOfChk("input[name=ids]", result);
    });
    $("#newMmsBtn").click(function () {
        window.location.href = '@Url.Action("EditNpcMms", "NpcMmses")';
    });
    $("#batchDelBtn").click(function () {
        controller.del(urlOfDel, $("input[name=ids]:checked").toArray());
    });
    $("#searchBtn").click(function () {
        $("#searchForm").submit();
    });
</script>
