@{
    ViewBag.Title = "节点记录列表管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  NPC.Application.ManageModels.PhoneBooks.PhoneBookRecordListModel 
<div class="workgroundin">
    <ul class="head_content">
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("添加新联系人", "newRecordBtn", "icon_3.gif", true))
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("批量删除", "batchDelBtn", "icon_4.gif", false))
    </ul>
</div>
<form action="" method="GET" id="searchForm">
<div class="main_search">
    <div class="mc_search">
        <div class="pic">
            <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
        <div class="font">
            节点：</div>
        <div class="s1">
        </div>
        <div class="i1">
            @Html.TextBoxFor(o => o.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.PhoneBookId, new { style = "width:200px;" })
        </div>
        <div class="font">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="s1">
            <select>
                <option>联系人</option>
            </select></div>
        <div class="i1">
            @Html.TextBoxFor(o => o.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Name)
        </div>
        <div class="font">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="s1">
            <select>
                <option>号码</option>
            </select></div>
        <div class="i1">
            @Html.TextBoxFor(o => o.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Mobile)
        </div>
        @Html.Partial("_DivButton", new Tuple<string, string>("搜索", "searchBtn"))
    </div>
</div>
</form>
<div class="main_content">
    <div class="topline">
        <div class="span_1">
            <input type="checkbox" id="topChk" /></div>
        <div class="span_2">
            操作</div>
        <div class="span_5">
            姓名</div>
        <div class="span_3">
            号码</div>
        <div class="span_5">
            电话簿</div>
        <div class="span_2">
            加入时间</div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
    </div>
    <div class="row">
        @if (!Model.PhoneBookRecords.Any())
        {
            <div class="noRowline">
                未找符合条件的相关记录信息！
            </div>
        }
        @foreach (var row in Model.PhoneBookRecords)
        {
            <div class="rowline">
                <div class="span_1">
                    <input type="checkbox" name="ids" value="@row.Id" /></div>
                <div class="span_2">
                    <a href="@Url.Action("EditNodeRecord", "NodeRecords")?id=@row.Id">编辑</a> | <a href="javascript:;" onclick="singleDel('@row.Id')">
                        删除</a></div>
                <div class="span_5">
                    @row.Name
                </div>
                <div class="span_3" style="text-align: center">
                    @row.Mobile
                </div>
                <div class="span_5">
                    @row.PhoneBook.Name
                </div>
                <div class="span_2">
                    @(row.RecordDescription.DateOfCreate.ToString("yyyy-MM-dd"))
                </div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
            </div> 
        }
        <div class="footBar">
            <div class="fb_content">
                <ul class="fb_button">
                    @Html.Partial("_LiButton", new Tuple<string, string>("全选", "chkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("取消", "unChkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("反选", "invertBtn"))
                </ul>
                <div class="fb_page">
                    <script type="text/javascript">
                        var pg = new showPages('pg');
                        pg.argName = 'p';  //定义参数名(可选,缺省为page)
                        pg.newPage = @Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Pagination.PageIndex;
                        pg.count =  @Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Pagination.TotalRecordsCount;
                        pg.pageCount = @Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Pagination.TotalPage;
                        pg.printHtml(1);    //显示
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#PhoneBookRecordSearchModel_PhoneBookRecordQueryItem_PhoneBookId").combotree({ url: '@Url.Action("GetNodes", "Nodes")', cascadeCheck: false });
    $('#PhoneBookRecordSearchModel_PhoneBookRecordQueryItem_PhoneBookId').combotree('setValue', '@Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.PhoneBookId');
    $('#PhoneBookRecordSearchModel_PhoneBookRecordQueryItem_PhoneBookId').next().children().first().css("padding", "0px");
    var urlOfDel = '@Url.Action("Delete", "NodeRecords")';
    function singleDel(id) {
        var delIds = [];
        delIds.push(id);
        controller.del(urlOfDel, delIds);
    }

    $("#chkAllBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 1);
    });
    $("#unChkAllBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 0);
    });
    $("#invertBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 2);
    });
    $("#topChk").click(function () {
        var result = $(this).attr("checked") ? 1 : 0;
        controller.batchOfChk("input[name=ids]", result);
    });
    $("#newRecordBtn").click(function () {
        window.location.href = '@Url.Action("EditNodeRecord", "NodeRecords")';
    });
    $("#batchDelBtn").click(function () {
        controller.del(urlOfDel, $("input[name=ids]:checked").toArray());
    });
    $("#searchBtn").click(function () {
        $("#searchForm").submit();
    });
</script>
