@{
    ViewBag.Title = "节点记录列表管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  NPC.Application.ManageModels.PhoneBooks.PhoneBookRecordListModel 
<div class="workgroundin">
    <ul class="head_content">
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("添加新联系人", "newRecordBtn", "icon_3.gif", true))
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("添加新通讯簿", "newPhoneBookBtn", "icon_3.gif", true))
        @Html.Partial("_LiButtonOfToolbar", new Tuple<string, string, string, bool>("批量删除", "batchDelBtn", "icon_4.gif", false))
    </ul>
</div>
<form action="" method="GET" id="searchForm">
<div class="main_search">
    <div class="mc_search">
        <div class="pic">
            <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
        <div class="font">
            节点：</div>
        <div class="s1">
        </div>
        <div class="i1">
            @Html.DropDownListFor(o => o.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.PhoneBookId, new[] { new SelectListItem() { Text = "选择通讯簿", Value = "" }, }.Union(
                     Model.PhoneBookRecordSearchModel.PhoneBookOptions.Select(o => new SelectListItem() { Text = o.Value, Value = o.Key })), new { style = "width:200px;" })
        </div>
        <div class="font">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="s1">
            <select>
                <option>联系人</option>
            </select></div>
        <div class="i1">
            @Html.TextBoxFor(o => o.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Name)
        </div>
        <div class="font">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="s1">
            <select>
                <option>号码</option>
            </select></div>
        <div class="i1">
            @Html.TextBoxFor(o => o.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Mobile)
        </div>
        @Html.Partial("_DivButton", new Tuple<string, string>("搜索", "searchBtn"))
    </div>
</div>
</form>
<div class="main_content">
    <div class="topline">
        <div class="span_1">
            <input type="checkbox" id="topChk" /></div>
        <div class="span_2">
            操作</div>
        <div class="span_5">
            姓名</div>
        <div class="span_3">
            号码</div>
        <div class="span_5">
            电话簿</div>
        <div class="span_2">
            加入时间</div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
    </div>
    <div class="row">
        @if (!Model.PhoneBookRecords.Any())
        {
            <div class="noRowline">
                未找符合条件的相关记录信息！
            </div>
        }
        @foreach (var row in Model.PhoneBookRecords)
        {
            <div class="rowline">
                <div class="span_1">
                    <input type="checkbox" name="ids" value="@row.Id" /></div>
                <div class="span_2">
                    <a href="javascript:;" onclick="editRecord('@row.PhoneBook.Id','@row.Name','@row.Mobile')">
                        编辑</a> | <a href="javascript:;" onclick="singleDel('@row.Id')">删除</a></div>
                <div class="span_5">
                    @row.Name
                </div>
                <div class="span_3" style="text-align: center">
                    @row.Mobile
                </div>
                <div class="span_5">
                    @row.PhoneBook.Name
                </div>
                <div class="span_2">
                    @(row.RecordDescription.DateOfCreate.ToString("yyyy-MM-dd"))
                </div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
            </div> 
        }
        <div class="footBar">
            <div class="fb_content">
                <ul class="fb_button">
                    @Html.Partial("_LiButton", new Tuple<string, string>("全选", "chkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("取消", "unChkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("反选", "invertBtn"))
                </ul>
                <div class="fb_page">
                    <script type="text/javascript">
                        var pg = new showPages('pg');
                        pg.argName = 'p';  //定义参数名(可选,缺省为page)
                        pg.newPage = @Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Pagination.PageIndex;
                        pg.count =  @Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Pagination.TotalRecordsCount;
                        pg.pageCount = @Model.PhoneBookRecordSearchModel.PhoneBookRecordQueryItem.Pagination.TotalPage;
                        pg.printHtml(1);    //显示
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wins" style="display: none;">
    <div id="newWin" class="easyui-window" title="添加新分类" style="width: 400px; height: 220px;
        background-color: #EFEFEF; display: none" data-options="iconCls:'icon-save',modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false">
        <div class="easyui-layout" data-options="fit:true">
            <form id="newForm" action="@Url.Action("EditPhoneBookRecord", "PhoneBooks")" method="post" style="margin:0">
            <div region="center" border="false" style="padding: 10px; background-color: #EFEFEF;">
                <table>
                    <tr>
                        <th width="120px;">
                            所属电话簿：
                        </th>
                        <td>
                            <select id="PhoneBookId" name="PhoneBookId">
                                <option value="">选择通讯簿</option>
                                @foreach (var phoneBook in Model.PhoneBookRecordSearchModel.PhoneBookOptions)
                                {
                                    <option value="@phoneBook.Key">@phoneBook.Value</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th width="120px;">
                            联系人：
                        </th>
                        <td>
                            <input id="ContactName" name="ContactName" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th width="120px;">
                            联系号码：
                        </th>
                        <td>
                            <input id="Mobile" name="Mobile" type="text" />
                        </td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 40px; line-height: 30px;
                background-color: #EFEFEF; padding-bottom: 8px; overflow: hidden; padding-right: 8px;">
                <a id="btnSubmitNew" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">
                    提交</a> <a id="btnCancelNew" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">
                        取消</a>
            </div>
            </form>
        </div>
    </div>
    <div id="newPhoneBookWin" class="easyui-window" title="添加新分类" style="width: 400px;
        height: 150px; background-color: #EFEFEF; display: none" data-options="iconCls:'icon-save',modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false">
        <div class="easyui-layout" data-options="fit:true">
            <form id="newPhoneBookForm" action="@Url.Action("EditPhoneBook", "PhoneBooks")" method="post"  style="margin:0">
            <div region="center" border="false" style="padding: 10px; background-color: #EFEFEF;">
                <table>
                    <tr>
                        <th width="120px;">
                            电话簿名称：
                        </th>
                        <td>
                            <input id="PhoneBookName" name="PhoneBookName" type="text" />
                        </td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 40px; line-height: 30px;
                background-color: #EFEFEF; padding-bottom: 8px; overflow: hidden; padding-right: 8px;">
                <a id="btnSubmitNewPhoneBook" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">
                    提交</a> <a id="btnCancelNewPhoneBook" class="easyui-linkbutton" icon="icon-cancel"
                        href="javascript:void(0)">取消</a>
            </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var urlOfDel = '@Url.Action("Delete", "NodeRecords")';
    function singleDel(id) {
        var delIds = [];
        delIds.push(id);
        controller.del(urlOfDel, delIds);
    }
    function editRecord(phoneBookId, name, mobile) {
        $("#newForm")[0].reset();
        $("#PhoneBookId").val(phoneBookId);
        $("#ContactName").val(name);
        $("#Mobile").val(mobile);
        $('#newWin').window('open');
    }
    $(function () {
        $("#chkAllBtn").click(function () {
            controller.batchOfChk("input[name=ids]", 1);
        });
        $("#unChkAllBtn").click(function () {
            controller.batchOfChk("input[name=ids]", 0);
        });
        $("#invertBtn").click(function () {
            controller.batchOfChk("input[name=ids]", 2);
        });
        $("#topChk").click(function () {
            var result = $(this).attr("checked") ? 1 : 0;
            controller.batchOfChk("input[name=ids]", result);
        });
        $("#newForm").validate({
            ignore: "",
            rules: {
                "PhoneBookId": "required",
                "ContactName": "required",
                "Mobile": "required"
            },
            messages: {
                "PhoneBookId": "请选择电话簿",
                "ContactName": "必填项",
                "Mobile": "必填项"
            }
        });
        $("#batchDelBtn").click(function () {
            controller.del(urlOfDel, $("input[name=ids]:checked").toArray());
        });
        $("#searchBtn").click(function () {
            $("#searchForm").submit();
        });
        $("#newRecordBtn").click(function () {
            $('#newWin').window('open');
            $("#newForm")[0].reset();
        });
        $("#wins,#newWin,#newPhoneBookWin").show();
        $("#btnSubmitNew").click(function () {
            $("#newForm").submit();
        });
        $("#btnCancelNew").click(function () {
            $("#newWin").window("close");
        });
        $("#newPhoneBookBtn").click(function () {
            $('#newPhoneBookWin').window('open');
            $("#newPhoneBookForm")[0].reset();
        });
        $("#btnSubmitNewPhoneBook").click(function () {
            $("#newPhoneBookForm").submit();
        });
        $("#btnCancelNewPhoneBook").click(function () {
            $("#newPhoneBookWin").window("close");
        });
    });
</script>
