@{
    ViewBag.Title = Model.Id.HasValue ? "编辑权限" : "新增权限";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.ComponentModel
@model  NPC.Application.ManageModels.Roles.EditRoleModel
<script type="text/javascript" src="@Url.Content("~/Scripts/xheditor-1.1.14/xheditor-1.1.14-zh-cn.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/common/jquery.masker.js")"></script>
<div class="workgroundin" style="height: 5px;">
</div>
<form method="post" action="" id="mainForm" style="margin: 0px;" enctype="multipart/form-data">
<div class="main_content">
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                提示:定义编码时不能定义重复的权限编码值</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            <div class="tipsOrange">
                <div class="icon">
                </div>
                <div class="font">
                    提示：带<span style="color: red;">*</span>号为必填项！</div>
            </div>
            <table class="fromTable" width="100%">
                <tr>
                    <th>
                        <span style="color: red;">*</span> 角色名：
                    </th>
                    <td>
                        @Html.TextBoxFor(o => o.RoleName, new { style = "width:380px;", maxlength = 70 })
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 角色编码：
                    </th>
                    <td>
                        @Html.TextBoxFor(o => o.RoleCode, new { style = "width:380px;", maxlength = 50 })<span>&nbsp;不允许重复</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        描述：
                    </th>
                    <td>
                        @Html.TextAreaFor(o => o.RoleDescription, new { cols = "60", rows = "12", maxlength = 300 })&nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    保存</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    $(function () {
        $("#mainForm").validate({
            ignore: "",
            rules: {
                "RoleName": "required"
                , "RoleCode": "required"
            },
            messages: {
                "RoleName": "必填项"
                , "RoleCode": "必填项"
            }
        });
        $("#submitBtn").click(function () {
            $("#mainForm").submit();
        });
    });
</script>
