@{
    ViewBag.Title = "文章分类列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="workgroundin" style="height: 5px;">
</div>
<div class="main_search">
    <div class="mc_search">
        <div class="pic">
            <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
        <div class="font">
            提示：在分类节点上右键进行删除或添加新节点操作</div>
    </div>
</div>
<div class="contentContainer contentleftBorder">
    <div class="hasTooler">
        <ul>
            <li class="buttonon" onclick="append()" id="newTopLevel">
                <div class="hc_left">
                </div>
                <div class="hc_center">
                    <div>
                        <img src="@Url.Content("~/Content/images/icon_3.gif")" alt="" /></div>
                    <div>
                        添加新分类</div>
                </div>
                <div class="hc_right">
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main_content">
    <div class="row">
        <div class="treeBody">
            <table id="treegrid">
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
<div id="mm" class="easyui-menu" style="width: 120px;">
    <div onclick="append()" data-options="iconCls:'icon-add'">
        添加新节点
    </div>
    <div class="menu-sep">
    </div>
    <div onclick="remove()" data-options="iconCls:'icon-remove'">
        移除节点
    </div>
</div>
<div id="wins" style="display: none;">
    <div id="newWin" class="easyui-window" title="添加新节点" style="width: 400px; height: 120px;
        background-color: #EFEFEF; display: none" data-options="iconCls:'icon-save',modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false">
        <div class="easyui-layout" data-options="fit:true">
            <form id="newForm" action="@Url.Action("EditCategory", "ArticleCategories")" method="post">
            <div region="center" border="false" style="padding: 10px; background-color: #EFEFEF;">
                <table>
                    <tr>
                        <th width="120px;">
                            节点名称：
                        </th>
                        <td>
                            <input id="FormData_Name" name="FormData.Name" type="text" />
                            <input id="Id" name="Id" type="hidden" />
                        </td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 40px; line-height: 30px;
                background-color: #EFEFEF; padding-bottom: 8px; overflow: hidden; padding-right: 8px;">
                <a id="btnSubmitNew" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">
                    提交</a> <a id="btnCancelNew" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">
                        取消</a>
            </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#treegrid").treegrid({
            url: '@Url.Action("GetCategories", "ArticleCategories")',
            rownumbers: true,
            treeField: 'text',
            idField: 'id',
            fit: false,
            border: 0,
            fitColumns: true,
            singleSelect: true,
            title: "&nbsp;文章分类列表",
            columns: [[
            { field: 'id', hidden: true },
            { field: 'text', title: '分类名称', width: 90, align: 'left' },
            { field: 'categoryId', title: '分类Id', width: 90, align: 'left' }
            ]],
            onLoadSuccess: function () {
            },
            onContextMenu: onContextMenu
        });
        $('#wins,#newWin').show();
        $("#btnSubmitNew").click(function () {
            $("#newForm").submit();
        });
        $("#btnCancelNew").click(function () {
            $("#newWin").window("close");
        });
    });
    function onContextMenu(e, row) {
        e.preventDefault();
        $(this).treegrid('select', row.id);
        $('#mm').menu('show', {
            left: e.pageX,
            top: e.pageY
        });
    }
    function append() {
        var node = $('#treegrid').treegrid('getSelected');
        if (node != null) {
            $("#Id").val(node.id);
        }
        $('#newWin').window('open');
    }
    function remove() {
        var node = $('#treegrid').treegrid('getSelected');
        if (node) {
            $.post('@Url.Action("Delete", "ArticleCategories")', { "id": node.id }, function (data) {
            data = evalJson(data);
            if (data.status == "success") {
                $('#treegrid').treegrid('remove', node.id);
                showSlide("删除成功!", 3000);
            } else {
                msgShow("提示信息", "删除失败!", "error");
            }
        });
    }
}
$("#newForm").validate({
    rules: {
        "FormData.Name": { required: true }
    },
    messages: {
        "FormData.Name": { required: "必须填写分类名称" }
    }
});
$("#newForm").submit(function () {
    $.post('@Url.Action("EditCategory", "ArticleCategories")', utility.formSerialize($("#newForm")), function (data) {
            data = evalJson(data);
            if (data.status == "success") {
                $("#treegrid").treegrid('reload', $("#Id").val());
                $("#newWin").window("close");
                showSlide("添加成功!", 3000);
            } else {
                msgShow("提示信息", "添加失败!", "error");
            }
        });
        return false;
    });

</script>
