@using Fluent.Infrastructure.Utilities
@model  NPC.Application.MianModels.HeaderModel 
<link href="@Url.Content("~/css/js.css")" type="text/css" rel="stylesheet"/>
<script src="@Url.Content("~/js/ifocus.js")" type="text/javascript"></script>    

<div class="top">
    <div class="banner">
        @if (Model.TopBanner == null || string.IsNullOrEmpty(Model.TopBanner.FirstImage))
        {
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                width="998" height="170">
                <param name="movie" value="@Url.Content("~/img/banner.swf")">
                <param name="quality" value="high">
                <param name="wmode" value="Opaque">
                <embed src="@Url.Content("~/img/banner.swf")" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                       type="application/x-shockwave-flash" width="998" height="170">
            </object>
        }
        else
        {
            if (Model.TopBanner.FirstImage.EndsWith(".SWF", StringComparison.CurrentCultureIgnoreCase))
            {
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                width="998" height="170">
                <param name="movie" value="@Url.Content("~/Manage/Attachments/" + @Model.TopBanner.FirstImage + "")">
                <param name="quality" value="high">
                <param name="wmode" value="Opaque">
                <embed src="@Url.Content("~/Manage/Attachments/" + @Model.TopBanner.FirstImage + "")" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                       type="application/x-shockwave-flash" width="998" height="170">
            </object>
            }
            else
            {
            <img src="@Model.TopBanner.FirstImage" alt="" width="998" height="170"/>
            }
        }
    </div>
    <div class="menu">
        <ul id="sddm" style="width: 800px; overflow: hidden">
            @if (Model.Menus.Any())
            {
                @Html.Raw(Model.Menus.First().FirstContent)
            }
        </ul>
        <div style="float: left; width: 190px;">
            <form action="/Home/List" method="get" style="margin: 0; _padding-top: 4px; _margin-top: 0px;">
            <input name="ArticleQueryItem.Keyword" type="text" size="15" maxlength="10" style="width: 120px;
                overflow: hidden">
            <input type="submit" value="搜索" style="margin: 0; _padding-top: 3px;">
            </form>
        </div>
    </div>
    <div class="search-area">
        <div class="date" style="line-height: 38px;">
            @{
                Func<DayOfWeek, string> dayOfWeek = (o) =>
                {
                    switch (o)
                    {
                        case DayOfWeek.Monday: return "星期一";
                        case DayOfWeek.Tuesday: return "星期二";
                        case DayOfWeek.Wednesday: return "星期三";
                        case DayOfWeek.Thursday: return "星期四";
                        case DayOfWeek.Friday: return "星期五";
                        case DayOfWeek.Saturday: return "星期六";
                        case DayOfWeek.Sunday: return "星期日";
                        default: return "";
                    }
                };
           
            }
            @DateTime.Now.ToString("yyyy年MM月dd日")&nbsp; @(dayOfWeek(DateTime.Now.DayOfWeek))
            农历:@Html.Raw(DateTimeUtilities.GetChineseDateTime(DateTime.Now))
        </div>
    </div>
</div>
@* 
@{
var indexOfMenu = 0; 
}
@foreach (var nodeRecord in Model.Menus)
{
    if (indexOfMenu > 7)
    {
        break;
    }
    <li @Html.Raw((indexOfMenu == Model.Menus.Count - 1) ? "style=\"background: none;\"" : "")>
        <a href="@nodeRecord.RecordLink">@nodeRecord.FirstTitle</a></li>
    indexOfMenu++;
}
*@