<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>平湖人大互动平台</title>
    <link href="@Url.Content("~/css/global.css")" type="text/css" rel="stylesheet">
    <link href="@Url.Content("~/css/js.css")" type="text/css" rel="stylesheet"/>
    <script src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/nav.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ae.image.resize.min.js")" type="text/javascript"></script>
</head>
<body >
    <script type="text/JavaScript">
        function MM_jumpMenu(targ, selObj, restore) {
            eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value + "'");
            if (restore) selObj.selectedIndex = 0;
        }
    </script>
    @Html.Action("Header", "Home")
    <div class="layout">
        @RenderBody()
    </div>
    <div class="clear">
    </div>
    @Html.Action("Footer", "Home")
</body>
</html>
