@model NPC.Application.MianModels.SideBarModel
<div class="right">
    @if (Model.ProposalNode != null)
    {
        <div class="advice">
            <a href="@Model.ProposalNode.RecordLink" target="_blank">
                <img src="/Manage/Attachments/@Model.ProposalNode.FirstImage"  alt="@Model.ProposalNode.FirstTitle" title="@Model.ProposalNode.FirstTitle"></a>
        </div>
        
    }
    <div class="login">
        @if (Model.NpcStaffEntryNode != null)
        {
            var firstRecord = Model.NpcStaffEntryNode.NodeRecords.FirstOrDefault();
            if (firstRecord != null)
            {
            <a href="@firstRecord.RecordLink" target="_blank">
                <img src="/Manage/Attachments/@firstRecord.FirstImage" alt="@firstRecord.FirstTitle" title="@firstRecord.FirstTitle" style="width: 220px;height: 120px; margin-top: -5px; margin-left: -5px;"></a> 
            }
        }
    </div>
    <div class="bookmark">
        <div class="bookmark-box">
            @foreach (var nodeRecord in Model.Mediums)
            {
                <a href="@nodeRecord.RecordLink" target="_blank">
                    <img src="/Manage/Attachments/@nodeRecord.FirstImage" alt="@nodeRecord.FirstTitle" title="@nodeRecord.FirstTitle"></a> 
            }
        </div>
    </div>
</div>
