@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.ComponentModel
@model  NPC.Application.ManageModels.Users.EditPasswordModel
<script type="text/javascript" src="@Url.Content("~/Scripts/common/jquery.masker.js")"></script>
<div class="workgroundin" style="height: 5px;">
</div>
<form method="post" action="" id="mainForm" style="margin: 0px;" enctype="multipart/form-data">
<div class="main_content">
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                提示：请记牢自己密码，勿将透露给其他人，以防造成信息安全问题!</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            <div class="tipsOrange">
                <div class="icon">
                </div>
                <div class="font">
                    提示：带<span style="color: red;">*</span>号为必填项！</div>
            </div>
            <table class="fromTable" width="100%">
                <tr>
                    <th style="width: 220px;">
                        <span style="color: red;">*</span> 现密码：
                    </th>
                    <td>
                        @Html.PasswordFor(o => o.OldPwd, new { style = "width:380px;", maxlength = 75 })
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 新密码：
                    </th>
                    <td>
                        @Html.PasswordFor(o => o.NewPwd, new { style = "width:380px;", maxlength = 75 })
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 重复新密码：
                    </th>
                    <td>
                        @Html.PasswordFor(o => o.ReNewPwd, new { style = "width:380px;", maxlength = 75 })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    修改</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    $(function () {
        $("#mainForm").validate({
            ignore: "",
            rules: {
                "OldPwd": "required",
                "NewPwd": "required",
                "ReNewPwd": "required"
            },
            messages: {
                "OldPwd": "必填项",
                "NewPwd": "必填项",
                "ReNewPwd": "必填项"
            }
        });
        $("#submitBtn").click(function () {
            if (!$("#mainForm").valid())
                return false;
            if ($("#NewPwd").val() != $("#ReNewPwd").val()) {
                msgShow("提示信息", "两次新密码输入不一致!", "error");
                return false;
            }
            $("#mainForm").submit();
            return true;
        });
    });
</script>
