@{
    ViewBag.Title = Model.Id.HasValue ? "文章编辑" : "新增文章";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.ComponentModel
@model NPC.Application.ManageModels.Articles.ArticleEditModel
<script type="text/javascript" src="@Url.Content("~/Scripts/xheditor-1.1.14/xheditor-1.1.14-zh-cn.min.js")"></script>
<div class="workgroundin" style="height: 5px;">
</div>
<form method="post" action="" id="mainForm" style="margin: 0px;" enctype="multipart/form-data">
@Html.HiddenFor(o => o.Id)
<div class="main_content">
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                提示：请认真选择分类，选择的分类将于网站对应的模块对应!</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            <div class="tipsOrange">
                <div class="icon">
                </div>
                <div class="font">
                    提示：带<span style="color: red;">*</span>号为必填项！</div>
            </div>
            <table class="fromTable" width="100%">
                <tr>
                    <th>
                        <span style="color: red;">*</span> 文章类别：
                    </th>
                    <td>
                        @Html.DropDownListFor(o => o.FormData.ArticleCategoryId, new BindingList<SelectListItem>(), new { style = "width:250px;" })
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 新闻标题：
                    </th>
                    <td>
                        @Html.TextBoxFor(o => o.FormData.Title)
                    </td>
                </tr>
                <tr>
                    <th>
                        封面图片：
                    </th>
                    <td>
                        <input type="file" name="FormData.CoverImg" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 文章内容：
                    </th>
                    <td>
                        <textarea name="FormData.Content" id="FormData_Content" cols="170" rows="30" width="99%" 
                                      class="xheditor { upLinkUrl:'@Url.Action("Upload", "Common")', upLinkExt: 'zip,rar,txt', upImgUrl:'@Url.Action("Upload", "Common")', upImgExt:'jpg,jpeg,gif,png', upFlashUrl:'@Url.Action("Upload", "Common")', upFlashExt:'swf', upMediaUrl:'@Url.Action("Upload", "Common")', upMediaExt:'avi' }">@Model.FormData.Content</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    提交</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                            <div class="btn" id="resetBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    重置</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    $(function () {
        $("#FormData_ArticleCategoryId").combotree({ url: '@Url.Action("GetCategories", "ArticleCategories")', cascadeCheck: false });
        $('#FormData_ArticleCategoryId').combotree('setValue', '@(Model.FormData.ArticleCategoryId.HasValue ? Model.FormData.ArticleCategoryId.Value : default(Guid?))');
        $("#mainForm").validate({
            ignore: "",
            rules: {
                "FormData.ArticleCategoryId": "required",
                "FormData.Title": "required",
                "FormData.Content": "required"
            },
            messages: {
                "FormData.ArticleCategoryId": "请选择文章分类",
                "FormData.Title": "请输入文章标题",
                "FormData.Content": "请填写文章内容"
            }
        });
        $("#submitBtn").click(function () {
            $("#mainForm").submit();
        });
        $("#submitBtn").click(function () {
            $("#mainForm").submit();
        });
    });
</script>
