@using System.ComponentModel
@using NPC.Application.Contexts
@{
    ViewBag.Title = "发起议案建议";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NPC.Application.ManageModels.Proposals.EditProposalModel

<form method="post" action="" id="mainForm" style="margin: 0px;">
<div class="main_content">
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                提示：发起新的议案或建议</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            <div class="tipsOrange">
                <div class="icon">
                </div>
                <div class="font">
                    提示：带<span style="color: red;">*</span>号为必填项！</div>
            </div>
            <table class="fromTable" width="100%">
                <tr>
                    <th style="width: 150px;">
                        领衔人：
                    </th>
                    <td>
                        <li class="buttonon">
                            <div class="hc_left">
                            </div>
                            <div class="hc_center">
                                <div>
                                    @Model.CurrentUser.Name
                                </div>
                            </div>
                            <div class="hc_right">
                            </div>
                        </li>
                    </td>
                </tr>
                <tr>
                    <th style="width: 150px;">
                        附议人：
                    </th>
                    <td id="originators">
                        <li class="buttonon" id="selectUser">
                            <div class="hc_left">
                            </div>
                            <div class="hc_center">
                                <div>
                                    <img src="@Url.Content("~/Content/images/icon_3.gif")" alt="" /></div>
                                <div>
                                    添加附议人</div>
                            </div>
                            <div class="hc_right">
                            </div>
                        </li>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 案由：
                    </th>
                    <td>
                        @Html.TextBoxFor(o => o.FormData.Title, new { maxlength = 100, style = "width:350px;" })
                    </td>
                </tr>
                  <tr>
                    <th>
                        <span style="color: red;">*</span> 类型：
                    </th>
                    <td>
                        @Html.DropDownListFor(o => o.FormData.ProposalType,
                            new SelectListItem[] { new SelectListItem() { Text = "请选择", Value = "" } }
                            .Union(Model.ProposalTypeOptions.Select(o => new SelectListItem() { Text = o.Value, Value = o.Key })))
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 建议主体：
                    </th>
                    <td>
                        <textarea name="FormData.Content" id="FormData_Content" cols="170" rows="30" width="99%" 
                                  class="xheditor { upLinkUrl:'@Url.Action("Upload", "Common")', upLinkExt: 'zip,rar,txt,doc,docx,ppt,xls,xlsx,pptx', upImgUrl:'@Url.Action("Upload", "Common")', upImgExt:'jpg,jpeg,gif,png', upFlashUrl:'@Url.Action("Upload", "Common")', upFlashExt:'swf', upMediaUrl:'@Url.Action("Upload", "Common")', upMediaExt:'avi' }">@Model.FormData.Content</textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        附件：
                    </th>
                    <td>
                        @Html.HiddenFor(o => o.FormData.Attachment)
                        <div id="container">
                            <div id="filelist">
                            </div>
                            <li class="buttonon" id="pickfiles">
                                <div class="hc_left">
                                </div>
                                <div class="hc_center">
                                    <div>
                                        <img src="@Url.Content("~/Content/images/icon_3.gif")" alt="" /></div>
                                    <div>
                                        上传附件</div>
                                </div>
                                <div class="hc_right">
                                </div>
                            </li>
                            <div style="float: left">
                                支持.txt/.doc/.docx/.xls/.xlsx/.rar/.zip格式
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    发起</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
</form>
<div id="wins" style="display: none;">
    <div id="selectWin" class="easyui-window" title="请选择发起人" style="width: 750px; height: 500px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                background-color: #EFEFEF; display: none;" data-options="iconCls:'icon-save',modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false">
        <div class="easyui-layout" data-options="fit:true">
            <div region="center" border="false" style="background-color: #EFEFEF; overflow: hidden;">
                <iframe src="" height="100%" width="100%" style="border: none; overflow-y: scroll;">
                </iframe>
            </div>
            <div region="south" border="false" style="text-align: right; height: 40px; line-height: 30px;
                                                                                                                                                                                                                                                              background-color: #EFEFEF; padding-bottom: 8px; overflow: hidden; padding-right: 28px;">
                <a id="btnAddSelect" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">
                    添加并继续</a> <a id="btnCompletedSelect" class="easyui-linkbutton" icon="icon-cancel"
                                 href="javascript:void(0)">完成并关闭</a>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/xheditor-1.1.14/xheditor-1.1.14-zh-cn.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.json-2.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plupload/plupload.full.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plupload/plupload.browserplus.js")" type="text/javascript"></script>
<script type="text/javascript">
    var selectedUsers = [];
    $(function () {
        $("#mainForm").validate({
            ignore: "",
            rules: {
                "FormData.Title": "required",
                "FormData.ProposalType": "required",
                "FormData.Content": "required"
            },
            messages: {
                "FormData.Title": "请输提案标题",
                "FormData.ProposalType": "请选择类型",
                "FormData.Content": "请填写建议主体"
            }
        });
        $("#submitBtn").click(function () {
            $("#mainForm").submit();
        });
        $('#wins,#selectWin').show();
        $("#selectUser").click(function () {
            $('#selectWin').window('open');
            $("#selectWin iframe").attr('src', '@Url.Action("SelectUserByDepartments", "Users")');
        });
        $("#btnAddSelect").click(function () {
            handerSelected();
        });
        $("#btnCompletedSelect").click(function () {
            handerSelected();
            $('#selectWin').window('close');
        });
        initialPlUpload();
    });

    function initialPlUpload() {
        var uploaderOfPic = new plupload.Uploader({
            runtimes: 'flash,browserplus,html5,gears,silverlight,',
            browse_button: 'pickfiles',
            container: 'container',
            max_file_size: '10M',
            file_data_name: 'uploaderFile',
            url: '@Url.Action("PlUpload", "Common")',
            flash_swf_url: '@Url.Content("~/Scripts/plupload/plupload.flash.swf")',
            silverlight_xap_url: '@Url.Content("~/Scripts/plupload/plupload.silverlight.xap")',
            filters: [
                { title: "请选择文件", extensions: "txt,doc,docx,xls,xlsx,rar,zip"}]
        });
        uploaderOfPic.init();
        uploaderOfPic.bind('FilesAdded', function (up, files) {
            $('#filelist').html('<div id="' + files[files.length - 1].id + '">文件：' + files[files.length - 1].name + ' (' + plupload.formatSize(files[files.length - 1].size) + ') <b></b>' + '</div>');
            up.refresh();
            up.start();
        });
        uploaderOfPic.bind('UploadProgress', function (up, file) {
            $('#' + file.id + " b").html(file.percent + "%");
        });
        uploaderOfPic.bind('Error', function (up, err) {
            if (err.code == "-600")
                $('#filelist').html('<div style="color:red">图片大小超出限制!</div>');
            if (err.code == "-601")
                $('#filelist').html('<div style="color:red">文件类型不正确，请选择jpg,gif,png格式图片!</div>');
            up.refresh();
        });
        uploaderOfPic.bind('FileUploaded', function (up, file, data) {
            var dataObject = eval('(' + data.response + ')');
            if (dataObject.status != "success") {
                alert(dataObject.msg);
                return;
            }
            $("#FormData_Attachment").val(dataObject.fileName);
            $('#' + file.id + " b").html("100%");
        });
    }

    function removeUser(id) {
        $("#user" + id).parent().parent().remove();
        var index = $.inArray(id, selectedUsers);
        if (index >= 0) {
            selectedUsers.splice(index, 1);
        }
    }

    function handerSelected() {
        var options = $("#selectWin").find("iframe")[0].contentWindow.pageApi.selectedValues();
        $.post('@Url.Action("ParseSelectedToUsersByDepartments", "Users")', { 'selectedJson': $.toJSON(options) },
                function (data) {
                    $(evalJson(data).users).each(function (index, row) {
                        if ($.inArray(row.id, selectedUsers) >= 0 || row.id == '@Model.CurrentUser.Id') {
                            return;
                        }
                        selectedUsers.push(row.id);
                        appendLable(row);
                    });
                }
        );
    }

    function appendLable(row) {
        $("#originators").append('<li class="buttonoff"><input type="hidden" name="FormData.SelectedOriginatorIds" value="' + row.id + '" />\
                    <div class="hc_left"></div><div class="hc_center">\
                    <div class="removeUser"  id="user' + row.id + '" onclick="removeUser(\'' + row.id + '\')">\
                    <img src="@Url.Content("~/Content/images/icon_5.gif")" alt="" />\
                    </div><div>' + row.name + '</div></div><div class="hc_right"></div></li>');
    }
</script>
