@using System.ComponentModel
@{
    ViewBag.Title = "发起议案建议";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NPC.Application.ManageModels.Proposals.EditProposalModel
<form method="post" action="" id="mainForm" style="margin: 0px;">
<div class="main_content">
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                提示：发起新的议案或建议</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            <div class="tipsOrange">
                <div class="icon">
                </div>
                <div class="font">
                    提示：带<span style="color: red;">*</span>号为必填项！</div>
            </div>
            <table class="fromTable" width="100%">
                <tr>
                    <th>
                        <span style="color: red;">*</span> 标题：
                    </th>
                    <td>
                        @Html.TextBoxFor(o => o.FormData.Title)
                    </td>
                </tr>
                <tr>
                    <th>
                        <span style="color: red;">*</span> 提案内容：
                    </th>
                    <td>
                        <textarea name="FormData.Content" id="FormData_Content" cols="170" rows="30" width="99%" 
                                      class="xheditor { upLinkUrl:'@Url.Action("Upload", "Common")', upLinkExt: 'zip,rar,txt', upImgUrl:'@Url.Action("Upload", "Common")', upImgExt:'jpg,jpeg,gif,png', upFlashUrl:'@Url.Action("Upload", "Common")', upFlashExt:'swf', upMediaUrl:'@Url.Action("Upload", "Common")', upMediaExt:'avi' }">@Model.FormData.Content</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    提交</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                            <div class="btn" id="resetBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    重置</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    $(function () {
        $("#mainForm").validate({
            ignore: "",
            rules: {
                "FormData.Title": "required",
                "FormData.Content": "required"
            },
            messages: {
                "FormData.Title": "请输提案标题",
                "FormData.Content": "请填写提案内容"
            }
        });
        $("#submitBtn").click(function () {
            $("#mainForm").submit();
        });
    });
</script>
