@{
    ViewBag.Title = "任务列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Fluent.Infrastructure.Utilities
@using Fluent.Infrastructure.Web.Utilities
@model NPC.Application.ManageModels.Proposals.ProposalTasksModel
<div class="workgroundin">
</div>
<form action="" method="GET" id="searchForm">
<div class="main_search">
    <div class="mc_search">
        <div class="pic">
            <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
        <div class="font">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="s1">
        </div>
        <div class="i1">
        </div>
    </div>
</div>
</form>
<div class="main_content">
    <div class="topline">
        <div class="span_1">
            <input type="checkbox" id="topChk" /></div>
        <div class="span_2">
            操作</div>
        <div class="span_3" style="width: 510px;">
            流程标题</div>
        <div class="span_2">
            状态</div>
        <div class="span_2">
            创建人</div>
        <div class="span_2">
            创建时间</div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
        <div class="span_4">
        </div>
    </div>
    <div class="row">
        @if (!Model.FlowNodeInstanceTasks.Any())
        {
            <div class="noRowline">
                未找到符合条件的相关记录信息！
            </div>
        }
        @foreach (var row in Model.FlowNodeInstanceTasks)
        {
            <div class="rowline">
                <div class="span_1">
                    <input type="checkbox" name="ids" value="@row.Id" /></div>
                <div class="span_2">
                    <a href="@Url.Action("EditNpcMms", "NpcMmses")?id=@row.Id">编辑</a> | <a href="javascript:;" onclick="singleDel('@row.Id')">
                        删除</a></div>
                <div class="span_3" style="width: 500px;">
                    <a href="@(WebUtilities.GetRelativePathWithApplicationHost(row.FlowNodeInstance.BelongsFlowNode.ProcessUrl))?taskId=@row.Id">@row.FlowNodeInstance.BelongsFlow.Title</a>
                </div>
                <div class="span_2">
                </div>
                <div class="span_2">
                    @(row.FlowNodeInstance.BelongsFlow.RecordDescription.UserOfCreate != null ? row.FlowNodeInstance.BelongsFlow.RecordDescription.UserOfCreate.Name : string.Empty)</div>
                <div class="span_2">
                    @row.RecordDescription.DateOfCreate.ToString("yyyy-MM-dd")</div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
                <div class="span_4">
                </div>
            </div> 
        }
        <div class="footBar">
            <div class="fb_content">
                <ul class="fb_button">
                    @Html.Partial("_LiButton", new Tuple<string, string>("全选", "chkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("取消", "unChkAllBtn"))
                    @Html.Partial("_LiButton", new Tuple<string, string>("反选", "invertBtn"))
                </ul>
                <div class="fb_page">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var urlOfDel = '@Url.Action("DeletePhoneBook", "PhoneBooks")';
    function singleDel(id) {
        var delIds = [];
        delIds.push(id);
        controller.del(urlOfDel, delIds);
    }
    $("#chkAllBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 1);
    });
    $("#unChkAllBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 0);
    });
    $("#invertBtn").click(function () {
        controller.batchOfChk("input[name=ids]", 2);
    });
    $("#topChk").click(function () {
        var result = $(this).attr("checked") ? 1 : 0;
        controller.batchOfChk("input[name=ids]", result);
    });
    $("#newPhoneBookBtn").click(function () {
        window.location.href = '@Url.Action("EditArticle", "Artilces")';
    });
    $("#batchDelBtn").click(function () {
        controller.del(urlOfDel, $("input[name=ids]:checked").toArray());
    });
    $("#searchBtn").click(function () {
        $("#searchForm").submit();
    });
</script>
