@{
    ViewBag.Title = @Model.Proposal.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NPC.Domain.Models.FlowNodeInstances
@model NPC.Application.ManageModels.Proposals.RequestViewModel 
<div class="workgroundin" style="height: 5px;">
</div>
<div class="main_content">
    @Html.Partial("_FlowHistory", Model.Flow)
    <div class="workgroundin" style="height: 5px;">
    </div>
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                流程详情：</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            <table class="fromTable" width="100%">
                <tr>
                    <th style="width: 160px;">
                        议案标题：
                    </th>
                    <td>
                        <b>@Model.Proposal.Title</b>
                    </td>
                </tr>
                <tr>
                    <th>
                        发起人：
                    </th>
                    <td>
                        @(Model.Proposal.RecordDescription.UserOfCreate.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        附议人：
                    </th>
                    <td>
                        @(string.Join("/", Model.Proposal.ProposalOriginators.Select(o => o.Name)))
                    </td>
                </tr>
                <tr>
                    <th>
                        议案主体：
                    </th>
                    <td>
                        @Html.Raw(Model.Proposal.Content)
                    </td>
                </tr>
                <tr class="header">
                    <td colspan="2">
                        &nbsp; &nbsp;补充说明:
                    </td>
                </tr>
                <tr>
                    <th>
                        备注：
                    </th>
                    <td style="padding: 5px 5px;">
                        <textarea rows="8" cols="120" id="Comment" maxlength="400"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    提交备注</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
