@{
    ViewBag.Title = @Model.Flow.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/plupload/plupload.full.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/plupload/plupload.browserplus.js")" type="text/javascript"></script>
@model NPC.Application.ManageModels.Proposals.SponsorAuditModel 
<div class="workgroundin" style="height: 5px;">
</div>
<div class="main_content">
    @Html.Partial("_FlowHistory", Model.Flow)
    <div class="workgroundin" style="height: 5px;">
    </div>
    <div class="main_search">
        <div class="mc_search">
            <div class="pic">
                <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
            <div class="font">
                流程详情：</div>
        </div>
    </div>
    <div class="row">
        <div class="treeBody" style="padding-top: 5px;">
            @Html.Partial("_ProposalDetail", Model.Proposal)
            <table class="fromTable" width="100%">
                <tr class="header">
                    <td colspan="2">
                        &nbsp; &nbsp;审批意见:
                    </td>
                </tr>
                <tr>
                    <th>
                        附件：
                    </th>
                    <td>
                        @Html.HiddenFor(o => o.ReplyAttachment)
                        <div id="container">
                            <div id="filelist">
                            </div>
                            <li class="buttonon" id="pickfiles">
                                <div class="hc_left">
                                </div>
                                <div class="hc_center">
                                    <div>
                                        <img src="@Url.Content("~/Content/images/icon_3.gif")" alt="" /></div>
                                    <div>
                                        上传附件</div>
                                </div>
                                <div class="hc_right">
                                </div>
                            </li>
                            <div style="float: left">
                                支持.txt/.doc/.docx/.xls/.xlsx/.rar/.zip格式
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        说明：
                    </th>
                    <td style="padding: 5px 5px;">
                        <form action="" method="POST" style="margin: 0" id="mainForm">
                        <input type="hidden" id="Action" name="Action" />
                        <textarea rows="8" cols="120" id="Comment" name="Comment" maxlength="400" class="unSumbmitRequired"></textarea>
                        <br />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="wrapper_btn">
                            <div class="btn" id="submitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    办结</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                            <div class="btn" id="unSubmitBtn">
                                <div class="fbb_left">
                                    <img src="@Url.Content("~/Content/Images/fbb_left.jpg")" alt="" /></div>
                                <div class="fbb_center">
                                    退回市政办</div>
                                <div class="fbb_right">
                                    <img src="@Url.Content("~/Content/Images/fbb_right.jpg")" alt="" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="footBar">
            <div class="fb_content">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#mainForm").validate({
            ignore: "",
            rules: {
                "Comment": "required"
            },
            messages: {
                "Comment": "请输入不提交理由"
            }
        });
        $("#submitBtn").click(function () {
            $("#Action").val("Finished");
            $("#mainForm")[0].submit();

        });
        $("#unSubmitBtn").click(function () {
            if ($(".unSumbmitRequired").valid()) {
                $("#Action").val("SendBack");
                $("#mainForm")[0].submit();
            }
        });
        initialPlUpload();
    });

    function initialPlUpload() {
        var uploaderOfPic = new plupload.Uploader({
            runtimes: 'flash,browserplus,html5,gears,silverlight,',
            browse_button: 'pickfiles',
            container: 'container',
            max_file_size: '10M',
            file_data_name: 'uploaderFile',
            url: '@Url.Action("PlUpload", "Common")',
            flash_swf_url: '@Url.Content("~/Scripts/plupload/plupload.flash.swf")',
            silverlight_xap_url: '@Url.Content("~/Scripts/plupload/plupload.silverlight.xap")',
            filters: [
                { title: "请选择文件", extensions: "txt,doc,docx,xls,xlsx,rar,zip"}]
        });
        uploaderOfPic.init();
        uploaderOfPic.bind('FilesAdded', function (up, files) {
            $('#filelist').html('<div id="' + files[files.length - 1].id + '">文件：' + files[files.length - 1].name + ' (' + plupload.formatSize(files[files.length - 1].size) + ') <b></b>' + '</div>');
            up.refresh();
            up.start();
        });
        uploaderOfPic.bind('UploadProgress', function (up, file) {
            $('#' + file.id + " b").html(file.percent + "%");
        });
        uploaderOfPic.bind('Error', function (up, err) {
            if (err.code == "-600")
                $('#filelist').html('<div style="color:red">图片大小超出限制!</div>');
            if (err.code == "-601")
                $('#filelist').html('<div style="color:red">文件类型不正确，请选择jpg,gif,png格式图片!</div>');
            up.refresh();
        });
        uploaderOfPic.bind('FileUploaded', function (up, file, data) {
            var dataObject = eval('(' + data.response + ')');
            if (dataObject.status != "success") {
                alert(dataObject.msg);
                return;
            }
            $("#Attachment").val(dataObject.fileName);
            $('#' + file.id + " b").html("100%");
        });
    }
</script>
