@using Fluent.Infrastructure.Utilities
@using NPC.Application.Common
@using NPC.Domain.Models.FlowNodeInstances
@using NPC.Domain.Models.Flows
@model NPC.Domain.Models.Flows.Flow
<div class="main_search">
    <div class="mc_search">
        <div class="pic">
            <img src="@Url.Content("~/Content/images/icon_12.gif")" alt="" /></div>
        <div class="font">
            操作历史记录：</div>
    </div>
</div>
<div class="row">
    <style type="text/css">
        .fromTable tr.header
        {
            margin: 0 10px;
            overflow: hidden;
            color: #666666;
            border-bottom: 1px solid #DBE2EC;
            border-top: 1px solid #DBE2EC;
            background: #E6EAF3;
        }
        .fromTable td
        {
            padding: 2px 10px;
            border-right: 1px solid #DBE2EC;
        }
        .fromTable tr
        {
            height: 22px;
            line-height: 22px;
            border-bottom: 1px solid #DBE2EC;
        }
        .fromTable tr.footer
        {
            height: 5px;
            line-height: 5px;
            border-bottom: 1px solid #DBE2EC;
        }
    </style>
    <div class="treeBody" style="padding-top: 5px;">
        <table class="fromTable " width="100%">
            <tr class="header">
                <td style="width: 22px;">
                    <img src="@Url.Content("~/Content/Images/flag-16-16-red.gif")" alt=""/>
                </td>
                <td style="width: 230px;">
                    阶段名称
                </td>
                <td style="width: 130px;">
                    操作时间
                </td>
                <td style="width: 150px;">
                    操作人
                </td>
                <td style="width: 230px;">
                    操作动作
                </td>
                <td>
                    备注
                </td>
            </tr>
            @foreach (var record in Model.FlowHistories)
            {
                <tr>
                    <td>
                        <img src="@Url.Content("~/Content/Images/hook-12-12-green.gif")" alt=""/>
                    </td>
                    <td>
                        @record.Stage
                    </td>
                    <td>
                        @record.RecordDescription.DateOfCreate.ToString("yyyy-MM-dd HH:mm")
                    </td>
                    <td>
                        @(record.RecordDescription.UserOfCreate != null ? record.RecordDescription.UserOfCreate.Name : "")
                    </td>
                    <td>
                        <b style="color: #c30">@record.Action</b>
                    </td>
                    <td>
                        @Html.Raw(record.Comment.ToHtml())
                    </td>
                </tr>
            }
            @foreach (var instance in Model.FlowNodeInstances.Where(o => o.InstanceStatus == InstanceStatus.Runing))
            {
                foreach (var task in instance.FlowNodeInstanceTasks)
                {
                <tr style="background: #F2FBDC">
                    <td>
                        <img src="@Url.Content("~/Content/Images/loading.gif")" alt="等待执行"/>
                    </td>
                    <td>
                        @instance.BelongsFlowNode.Name
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        @Helper.GetUser(task.UserId).Name
                    </td>
                    <td>
                        @(task.IsOpened ? "已查阅" : "尚未打开")
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                }
            }
            @if (Model.FlowStatus == FlowStatus.Finished)
            {
                <tr style="background: #FFF3C0">
                    <td>
                        <img src="@Url.Content("~/Content/Images/flag-16-16-red.gif")" alt="已完成"/>
                    </td>
                    <td>
                       已结束
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        
                    </td>
                    <td>
                         已完成
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            }
            <tr class="footer">
                <td colspan="6">
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>
    <div class="footBar">
        <div class="fb_content">
        </div>
    </div>
</div>
