@using System.Web.UI.WebControls
@using NPC.Application.Contexts
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>人大管理系统后台</title>
    <link type="text/css" href="@Url.Content("~/Content/CSS/reset.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/CSS/style.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/CSS/showpage.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Scripts/jquery-easyui-1.3.1/themes/default/easyui.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Scripts/jquery-easyui-1.3.1/themes/icon.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/CSS/customIcon.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Content/CSS/icons.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Scripts/jquery-loadmask/jquery.loadmask.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/showpage.src.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-easyui-1.3.1/jquery.easyui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-loadmask/jquery.loadmask.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/utility.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validator.extension.js")"></script>
</head>
<body style="background: #E6EAF3 url(@Url.Content("~/Content/Images/body_bg.jpg")) repeat left top;min-width: 1000px;">
    <div class="header">
        <div class="container">
            <div class="quit">
                @{
                    var user = new NpcContext().CurrentUser;
                }
                您好，[@(user.Unit.Name)]@user.Name&nbsp;&nbsp;<a href="@Url.Content("~/")?cmd=logout"><b>[退出]</b></a>
            </div>
            <div class="toplinkmenu">
                <div class="left">
                </div>
                <ul class="center">
                    <li class="line">
                        <div>
                            <img src="@Url.Content("~/Content/images/icon_1.jpg")" alt="" />
                        </div>
                        <div>
                            <a href="http://wpa.qq.com/msgrd?V=1amp;Uin=8189119;Site=ioshenmueMenu=yes">QQ帮助中心</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="@Url.Content("~/Content/images/icon_2.jpg")" alt="" />
                        </div>
                        <div>
                            <a href="@Url.Action("Index", "Home")" target="_blank">打开公司首页</a>
                        </div>
                    </li>
                </ul>
                <div class="right">
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="wrapperin">
                <div class="left3">
                    <img src="@Url.Content("~/Content/images/menu_left.jpg")" alt="" />
                </div>
                <ul class="topmenu">
                    <li class="tabon">
                        <div class="tabbj_left">
                        </div>
                        <div class="tabbj_center">
                            管理中心控制面板
                        </div>
                        <div class="tabbj_right">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content" style="background: #E6EAF3 url(@Url.Content("~/Content/Images/wrapper_rightbj.jpg")) right top no-repeat;zoom: 1;overflow: hidden; min-height: 700px;">
        <div class="sidecontent">
            <div class="title">
                <img src="@Url.Content("~/Content/images/quickmenu_title.jpg")" alt="" />
            </div>
            <div class="grouplevel">
                议案建议
            </div>
             <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 style="cursor: pointer;" onclick="window.location.href='@Url.Action("EditProposal", "Proposals")'">
                发起提案建议
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 style="cursor: pointer;" onclick="window.location.href='@Url.Action("List", "Proposals")'">
                议案查看
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     style="cursor: pointer;" onclick="window.location.href='@Url.Action("ProposalTasks", "Proposals")'">
                议案任务
            </div>
            <div class="grouplevel">
                文章管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("List", "Artilces")'" style="cursor: pointer;">
                文章查看
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     style="cursor: pointer;" onclick="window.location.href='@Url.Action("EditArticle", "Artilces")'">
                发布新文章
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     style="cursor: pointer;" onclick="window.location.href='@Url.Action("List", "ArticleCategories")'">
                文章分类查看
            </div>
           
            <div class="grouplevel">
                手机报管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("PhoneBookList", "PhoneBooks")'" style="cursor: pointer;">
                查看通讯簿
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("PhoneBookRecordList", "PhoneBooks")'" style="cursor: pointer;">
                查看联系人
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 onclick="window.location.href='@Url.Action("EditNpcMms", "NpcMmses")'" style="cursor: pointer;">
                编写手机报彩信
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 onclick="window.location.href='@Url.Action("List", "NpcMmses")'" style="cursor: pointer;">
                查看彩信库
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 onclick="window.location.href='@Url.Action("List", "NpcMmsSends")'" style="cursor: pointer;">
                查看已发送彩信
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 onclick="window.location.href='@Url.Action("EditOpenMasConfig", "OpenMasConfigs")'" style="cursor: pointer;">
                OpenMas服务配置
            </div>
            <div class="grouplevel">
                网站管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("List", "Nodes")'" style="cursor: pointer;">
                网站模块管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("EditNodeRecord", "NodeRecords")'" style="cursor: pointer;">
                添加定制记录
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 onclick="window.location.href='@Url.Action("List", "NodeRecords")'" style="cursor: pointer;">
                定制记录查看
            </div>
            <div class="grouplevel">
                用户管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 style="cursor: pointer;" onclick="window.location.href='@Url.Action("List", "Departments")'">
                分组管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                style="cursor: pointer;" onclick="window.location.href='@Url.Action("JieKouRenSettings", "Configs")'">
                组织接口人设置
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("UserList", "Users")'" style="cursor: pointer;">
                帐户管理
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("EditUser", "Users")'" style="cursor: pointer;">
                添加帐号
            </div>
            <div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                     onclick="window.location.href='@Url.Action("EidtPassword", "Users")'" style="cursor: pointer;">
                修改密码
            </div>
            @Html.Action("ManageMenus", "Home")
            <div class="bottom">
                <img src="@Url.Content("~/Content/images/sc_bottom.jpg")" alt="" />
            </div>
        </div>
        <div class="workground">
            @RenderBody()
        </div>
    </div>
    <div style="width: 100%;">
        <div class="footerarea">
            <div class="footer_left">
            </div>
        </div>
    </div>
</body>
</html>
