@using Fluent.Infrastructure.Utilities
@model NPC.Application.MianModels.Homes.IndexModel 
@{
    ViewBag.Title = "@Model.Unit.Name";
}
<link href="@Url.Content("~/content/css/skin1/skin.css")" type="text/css" rel="stylesheet">
<link href="@Url.Content("~/content/css/skin2/skin2.css")" type="text/css" rel="stylesheet">
<link href="@Url.Content("~/content/css/skin3/skin.css")" type="text/css" rel="stylesheet">
<script src="@Url.Content("~/Scripts/jquery.jcarousel.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ae.image.resize.min.js")" type="text/javascript"></script>
<div class="main1">
    <div class="focus">
        <div id="ifocus">
            <div id="ifocus_pic">
                <div id="ifocus_piclist" style="left: 0; top: 0;">
                    <ul>
                        @{
                            var index = 0;
                        }
                        @foreach (var nodeRecord in Model.WheelBroadcastPicsOfTopLeft)
                        {
                            <li id="@("p" + index)" @(index == 0 ? Html.Raw("class=\"current\"") : Html.Raw(""))>
                                <a href="@nodeRecord.RecordLink" target="_blank">
                                    <img src="/Manage/Attachments/@nodeRecord.SecondImage" alt="@nodeRecord.FirstTitle" /></a> </li>
                            index++;
                        }
                    </ul>
                </div>
                <div id="ifocus_opdiv">
                </div>
                <div id="ifocus_tx">
                    <ul>
                        @{
                            var indexTxt = 0;
                        }
                        @foreach (var nodeRecord in Model.WheelBroadcastPicsOfTopLeft)
                        {
                            <li  @(indexTxt == 0 ? Html.Raw("class=\"current\"") : Html.Raw("class=\"normal\""))>@nodeRecord.FirstTitle</li>
                            indexTxt++;
                        }
                    </ul>
                </div>
            </div>
            <div id="ifocus_btn">
                <ul>
                    @{
                        var indexBtn = 0;
                    }
                    @foreach (var nodeRecord in Model.WheelBroadcastPicsOfTopLeft)
                    {
                        <li id="p@("p" + indexBtn)" @(indexBtn == 0 ? Html.Raw("class=\"current\"") : Html.Raw(""))>
                            <img src="/Manage/Attachments/@nodeRecord.FirstImage" alt="@nodeRecord.FirstTitle" /></li>
                        indexBtn++;
                    }
                </ul>
            </div>
        </div>
    </div>
    <ul class="news">
        <div class="title">
            <div class="title-name" style="width: 60px; float: left; overflow: hidden;">
                @if (Model.NewsNode != null)
                {@(Model.NewsNode.Name.Trim())}
            </div>
            <div class="more">
                @if (Model.NewsNode != null)
                {
                    if (Model.NewsNode.OuterCategoryId.HasValue)
                    {
                    <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.NewsNode.OuterCategoryId">更多 >></a>                                                 
                    }
                }
            </div>
        </div>
        @foreach (var nodeRecord in Model.News)
        {
            <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 32, "…")</a></li>
        }
    </ul>
</div>
<div class="banner2">
    @if (Model.FirstFullColumn != null)
    {
        <a href="@Model.FirstFullColumn.RecordLink" target="_blank">
            <img src="/Manage/Attachments/@Model.FirstFullColumn.FirstImage" alt="@Model.FirstFullColumn.FirstTitle" title="@Model.FirstFullColumn.FirstTitle"/></a>
    }
</div>
<div class="main2">
    <div class="left">
        <ul class="note">
            <div class="title">
                <div class="title-name">
                    @if (Model.NoticesNode != null)
                    {@(Model.NoticesNode.Name.Trim())}
                </div>
                <div class="more">
                    @if (Model.NoticesNode != null)
                    {
                        if (Model.NoticesNode.OuterCategoryId.HasValue)
                        {
                        <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.NoticesNode.OuterCategoryId">更多 >></a>                                                 
                        }
                    }
                </div>
            </div>
            @foreach (var nodeRecord in Model.Notices)
            {
                <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 22, "…")</a></li>
            }
        </ul>
        <div class="director">
            <div class="title">
                <div class="title-name">
                    @if (Model.DirectorsNode != null)
                    {@(Model.DirectorsNode.Name.Trim())}
                </div>
            </div>
            <div class="pic">
                @if (Model.Directors.Any())
                {
                    <img src="/Manage/Attachments/@Model.Directors.First().FirstImage" alt="@Model.Directors.First().FirstTitle" title="@Model.Directors.First().FirstTitle" style="width: 152px;height: 98px;" class="Directors" />
                }

            </div>
            <p>
                @if (Model.Directors.Any())
                {
                    @Html.Raw(Model.Directors.First().FirstTitle) 
                }
            </p>
        </div>

        <div class="director" style="height: 140px;">
            <div class="title">
                <div class="title-name">
                    @if (Model.ViceDirectorsNode != null)
                    {@(Model.ViceDirectorsNode.Name.Trim())}
                </div>
            </div>
            <ul class="pic-slide jcarousel-skin-viceDirectors" id="viceDirectors" style="height: 110px;margin-top: 2px;">
                @foreach (var nodeRecord in Model.ViceDirectors)
                {
                    <li>
                        <a href="@nodeRecord.RecordLink" target="_blank">
                            <img src="/Manage/Attachments/@nodeRecord.FirstImage" alt="@nodeRecord.FirstTitle" title="@nodeRecord.FirstTitle" style="width: 152px;height: 98px;" class="Directors" />@*<div class="word">@nodeRecord.FirstTitle</div>*@

                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="committee">
            <div class="title">
                <div class="title-name">
                    @if (Model.MembersNode != null)
                    {@(Model.MembersNode.Name.Trim())}
                </div>
            </div>
            <div class="committee-content">
                @{
                    var indexOfMember = 0;
                    var countOfLoop = 1;
                }
                @foreach (var member in Model.Members)
                {
                    if (indexOfMember % 7 == 0)
                    {
                    @Html.Raw("<ul>");
                    }
                    <li> @Html.Raw(member.FirstTitle)</li>
                    if (countOfLoop == 7 || indexOfMember == Model.Members.Count - 1)
                    {
                    @Html.Raw("</ul>");
                                      countOfLoop = 0;
                    }
                    countOfLoop++;
                    indexOfMember++;
                }
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middle-main">
            <div class="leaders-word">
                <div class="title">
                    <div class="title-name">
                        @if (Model.LeaderSpeechsNode != null)
                        {@(Model.LeaderSpeechsNode.Name.Trim())}
                    </div>
                    <div class="more">
                        @if (Model.LeaderSpeechsNode != null)
                        {
                            if (Model.LeaderSpeechsNode.OuterCategoryId.HasValue)
                            {
                            <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.LeaderSpeechsNode.OuterCategoryId">更多 >></a>                                                 
                            }
                        }
                    </div>
                </div>
                <ul>
                    @foreach (var nodeRecord in Model.LeaderSpeechs)
                    {
                        <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 38, "")</a></li>
                    }
                </ul>
                <div class="vidieo" style="width: 225px; height: 145px">
                    @if (Model.Video != null)
                    {
                        <a href="@Model.Video.RecordLink" target="_blank">
                            <img src="/Manage/Attachments/@Model.Video.FirstImage" alt="@Model.Video.FirstTitle" title="@Model.Video.FirstTitle"></a>
                    }

                </div>
            </div>
            <div class="clear">
            </div>
            <div class="basic">
                <div class="title">
                    <div class="title-name">
                        @if (Model.SuperviseWindowNode != null)
                        {@(Model.SuperviseWindowNode.Name.Trim())}
                    </div>
                    <div class="more">
                        @if (Model.SuperviseWindowNode != null)
                        {
                            if (Model.SuperviseWindowNode.OuterCategoryId.HasValue)
                            {
                            <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.SuperviseWindowNode.OuterCategoryId">更多 >></a>                                                 
                            }
                        }
                    </div>
                </div>
                <ul>
                    @foreach (var nodeRecord in Model.SuperviseWindow)
                    {
                        <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 36, "")</a></li>
                    }
                </ul>
            </div>
            <div class="basic">
                <div class="title">
                    <div class="title-name">
                        @if (Model.NpcWorksNode != null)
                        {@(Model.NpcWorksNode.Name.Trim())}
                    </div>
                    <div class="more">
                        @if (Model.NpcWorksNode != null)
                        {
                            if (Model.NpcWorksNode.OuterCategoryId.HasValue)
                            {
                            <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.NpcWorksNode.OuterCategoryId">更多 >></a>                                                 
                            }
                        }
                    </div>
                </div>
                <ul>
                    @foreach (var nodeRecord in Model.NpcWorks)
                    {
                        <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 36, "")</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="middle-bottom">
            <div class="block">
                <div class="title">
                    <div class="title-name">
                        @if (Model.SelfImprovementNode != null)
                        {@(Model.SelfImprovementNode.Name.Trim())}
                    </div>
                    <div class="more">
                        @if (Model.SelfImprovementNode != null)
                        {
                            if (Model.SelfImprovementNode.OuterCategoryId.HasValue)
                            {
                            <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.SelfImprovementNode.OuterCategoryId">更多 >></a>                                                 
                            }
                        }
                    </div>
                </div>
                <div class="clear">
                </div>
                <ul>
                    @foreach (var nodeRecord in Model.SelfImprovement)
                    {
                        <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 36, "")</a></li>
                    }
                </ul>
            </div>
            <div class="block" style="margin-right: 0px;">
                <div class="title">
                    <div class="title-name">
                        @if (Model.BasicsNode != null)
                        {@(Model.BasicsNode.Name.Trim())}
                    </div>
                    <div class="more">
                        @if (Model.BasicsNode != null)
                        {
                            if (Model.BasicsNode.OuterCategoryId.HasValue)
                            {
                            <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.BasicsNode.OuterCategoryId">更多 >></a>                                                 
                            }
                        }
                    </div>
                </div>
                <div class="clear">
                </div>
                <ul>
                    @foreach (var nodeRecord in Model.Basics)
                    {
                        <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 36, "")</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @Html.Action("SideBar", "Home")
</div>
<div class="clear">
</div>
<div class="main3">
    <div class="contribute">
        <a href="#">
            <img src="img/news.jpg" alt="新闻投稿" title="新闻投稿"></a>
    </div>
    <div style="width: 792px; float: left; overflow: hidden;">
        <ul id="mycarousel" class="jcarousel-skin-ie7">
            @foreach (var nodeRecord in Model.TownPics)
            {
                if (string.IsNullOrEmpty(nodeRecord.FirstImage))
                {
                    continue;
                }
                <li><a href="@nodeRecord.RecordLink">
                    <div class="view">
                        <img src="/Manage/Attachments/@nodeRecord.FirstImage" style="width:130px; height: 80px;"/>
                        <p>
                            @MyString.SubString(nodeRecord.FirstTitle, 12, "")
                        </p>
                    </div>
                </a></li>
            }
        </ul>
    </div>
</div>
<div class="clear">
</div>
<div class="main4">
    <div class="block-box">
        <div class="title">
            <div class="title-name">
                @if (Model.ElectionsNode != null)
                {@(Model.ElectionsNode.Name.Trim())}
            </div>
            <div class="more">
                @if (Model.ElectionsNode != null)
                {
                    if (Model.ElectionsNode.OuterCategoryId.HasValue)
                    {
                    <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.ElectionsNode.OuterCategoryId">更多 >></a>                                                 
                    }
                }
            </div>
        </div>
        <div class="clear">
        </div>
        <ul>
            @foreach (var nodeRecord in Model.Elections)
            {
                <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 36, "")</a></li>
            }
        </ul>
    </div>
    <div class="block-box">
        <div class="title">
            <div class="title-name">
                @if (Model.InvestigatesNode != null)
                {@(Model.InvestigatesNode.Name.Trim())}
            </div>
            <div class="more">
                @if (Model.InvestigatesNode != null)
                {
                    if (Model.InvestigatesNode.OuterCategoryId.HasValue)
                    {
                    <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.InvestigatesNode.OuterCategoryId">更多 >></a>                                                 
                    }
                }
            </div>
        </div>
        <div class="clear">
        </div>
        <ul>
            @foreach (var nodeRecord in Model.Investigates)
            {
                <li><a href="@nodeRecord.RecordLink" target="_blank">@MyString.SubString(nodeRecord.FirstTitle, 36, "")</a></li>
            }
        </ul>
    </div>
    <div class="block-right">
        <div class="block-right-top">
            <div class="title">


                <div class="title-name">
                    @if (Model.NpcPicsNode != null)
                    {@(Model.NpcPicsNode.Name.Trim())}
                </div>
                <div class="more">
                    @if (Model.NpcPicsNode != null)
                    {
                        if (Model.NpcPicsNode.OuterCategoryId.HasValue)
                        {
                        <a href="/Home/List?ArticleQueryItem.CategoryId=@Model.NpcPicsNode.OuterCategoryId">更多 >></a>                                                 
                        }
                    }
                </div>
            </div>
            <div class="clear">
            </div>

            <ul id="elegant" class="elegant jcarousel-skin-tango">
                @foreach (var nodeRecord in Model.NpcPics)
                {
                    if (string.IsNullOrEmpty(nodeRecord.FirstImage))
                    {
                        continue;
                    }
                    <li>
                        <a href="@nodeRecord.RecordLink" target="_blank">
                            <img src="/Manage/Attachments/@nodeRecord.FirstImage" alt="@nodeRecord.FirstTitle" title="@nodeRecord.FirstTitle" class="NpcPics"/>
                            <div class="word2">
                                @MyString.SubString(nodeRecord.FirstTitle, 16, "")
                            </div>
                        </a>

                    </li>
                }
            </ul>
        </div>
        <div class="block-right-bottom">
            <div class="title">
                <div class="title-name">
                    @if (Model.LinksNode != null)
                    {@(Model.LinksNode.Name.Trim())}
                </div>
            </div>
            <div class="clear">
            </div>

            @{
                var indexOflinkNode = 0;
                var countOfLink = 1;
            }
            @if (Model.LinksNode != null)
            {
                foreach (var linkNode in Model.LinksNode.Childrens)
                {
                    if (indexOflinkNode % 3 == 0)
                    {
                @Html.Raw("<ul>");
                    }
                <li>
                    <div class="name">
                        @linkNode.Name
                    </div>
                    <form>
                        <select onchange="if(this.value!=''){MM_jumpMenu('parent',this,0);}">
                            <option>请选择</option>
                            @foreach (var nodeRecord in linkNode.NodeRecords)
                            {
                                <option value="@nodeRecord.RecordLink">@nodeRecord.FirstTitle</option>
                            }
                        </select>
                    </form>
                </li>
                            if (countOfLink == 3 || countOfLink == Model.Links.Count - 1)
                            {
                @Html.Raw("</ul>");
                                  countOfLink = 0;
                            }

                            indexOflinkNode++;
                            countOfLink++;
                }

            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".Directors").aeImageResize({ width: 152, height: 98 });
    });
    $(function () {
        $(".NpcPics").aeImageResize({ width: 290, height: 130 });
    });
    jQuery(document).ready(function () {
        jQuery('#elegant').jcarousel({
            scroll: 1,
            wrap: 'circular'
        });
        jQuery('#mycarousel').jcarousel({
            auto: 3,
            wrap: 'circular',
            initCallback: mycarousel_initCallback
        });
        jQuery('#viceDirectors').jcarousel({
            scroll: 1,
            auto: 3,
            wrap: 'circular'
            //initCallback: mycarousel_initCallback
        });
    });

    function mycarousel_initCallback(carousel) {
        carousel.buttonNext.bind('click', function () {
            carousel.startAuto(0);
        });
        carousel.buttonPrev.bind('click', function () {
            carousel.startAuto(0);
        });
        carousel.clip.hover(function () {
            carousel.stopAuto();
        }, function () {
            carousel.startAuto();
        });
    };

</script>
