@{
    ViewBag.Title = Model.Message;
}
@using NPC.Application.Contexts
@model NPC.Application.ManageModels.RedirectMessageModel 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>平湖人大互动平台</title>
    <link href="@Url.Content("~/css/global.css")" type="text/css" rel="stylesheet">
    <link href="@Url.Content("~/css/js.css")" type="text/css" rel="stylesheet"/>
    <script src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/ifocus.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/nav.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ae.image.resize.min.js")" type="text/javascript"></script>
</head>
<body>
    <link href="@Url.Content("~/css/global.css")" type="text/css" rel="stylesheet">
    <div class="main2">
        @Html.Action("SideBar", "Home")
        <div class="detail-right">
            <div class="title">
                <div class="title-name">
                    提示消息
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="detail-content">
                <h1>
                    提示消息</h1>
                <div class="time">
                </div>
                <p>
                    <h1>
                    @Model.Message</h1>
                </p>
            </div>
        </div>
    </div>
</body>
